<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1>The Sunset from Inle Lake, Myanmar</h1>
    <p>The image below is referenced using this html, such that it should fill half the viewport's width:</p>
    &lt;img src=&quot;api/image/inle_lake&quot; alt=&quot;Inle Lake Sunset&quot; sizes=&quot;50vw&quot; /&gt;
    <br/><br/>
    <img src="api/image/inle_lake" alt="Inle Lake Sunset" sizes="50vw"/>
</div>
</body>
</html>
